@{
    ViewData["Title"] = "Home Page";
}
    <div class="main-image-container">
        <img src="~/main_art.png" class="main-image" />
    </div>

    <div class="text-center">
        <h1 class="display-4">Welcome to Fisher Island</h1>
    </div>
