@model EditViewModel
@{
	ViewData["Title"] = "Account";
}

<h1>Account</h1>

<form asp-action="TryEditUser" asp-controller="Account">
	<div asp-validation-summary="ModelOnly" class="text-danger" data-valmsg-for="UserForm"></div>
	<dl class="row">
		<dt class="col-sm-2">
			<label asp-for="UserForm.FirstName" class="control-label"></label>
		</dt>
		<dd class="col-sm-4">
			<input id="firstname" readonly asp-for="UserForm.FirstName" class="form-control edit_field" />
			<span asp-validation-for="UserForm.FirstName" class="text-danger"></span>
		</dd>
		<dd class="col-sm-6">
			<button id="firstname_edit" class="btn btn-link" type="button" onclick="toggleEdit('firstname', 'firstname_edit', 'firstname_cancel')">Edit</button>
			<button hidden id="firstname_cancel" class="btn btn-link" type="button" onclick="toggleCancel('firstname', 'firstname_edit', 'firstname_cancel')">Cancel</button>
		</dd>
		<dt class="col-sm-2">
			<label asp-for="UserForm.LastName" class="control-label"></label>
		</dt>
		<dd class="col-sm-4">
			<input id="lastname" readonly asp-for="UserForm.LastName" class="form-control edit_field" />
			<span asp-validation-for="UserForm.LastName" class="text-danger"></span>
		</dd>
		<dd class="col-sm-6"> 
			<button id="lastname_edit" class="btn btn-link" type="button" onclick="toggleEdit('lastname', 'lastname_edit', 'lastname_cancel')">Edit</button>
			<button hidden id="lastname_cancel" class="btn btn-link" type="button" onclick="toggleCancel('lastname', 'lastname_edit', 'lastname_cancel')">Cancel</button>
		</dd>
		<dt class="col-sm-2">
			<label asp-for="UserForm.Username" class="control-label"></label>
		</dt>
		<dd class="col-sm-4">
			<input id="username" readonly asp-for="UserForm.Username" class="form-control edit_field" />
			<span asp-validation-for="UserForm.Username" class="text-danger"></span>
		</dd>
		<dd class="col-sm-6">
			<button id="username_edit" class="btn btn-link" type="button" onclick="toggleEdit('username', 'username_edit', 'username_cancel')">Edit</button>
			<button hidden id="username_cancel" class="btn btn-link" type="button" onclick="toggleCancel('username', 'username_edit', 'username_cancel')">Cancel</button>
		</dd>
		<dt class="col-sm-2">
			<label asp-for="UserForm.Email" class="control-label"></label>
		</dt>
		<dd class="col-sm-4">
			<input id="email" readonly asp-for="UserForm.Email" class="form-control edit_field" />
			<span asp-validation-for="UserForm.Email" class="text-danger"></span>
		</dd>
		<dd class="col-sm-6">
			<button id="email_edit" class="btn btn-link" type="button" onclick="toggleEdit('email', 'email_edit', 'email_cancel')">Edit</button>
			<button hidden id="email_cancel" class="btn btn-link" type="button" onclick="toggleCancel('email', 'email_edit', 'email_cancel')">Cancel</button>
		</dd>
		<dt class="col-sm-2">
		</dt>
		<dd class="col-sm-4">
			<input hidden id="button_submit" type="submit" value="Change" class="btn btn-primary" />
		</dd>
		<dd class="col-sm-6">
		</dd>
	</dl>
</form>

<form asp-action="TryEditPassword" asp-controller="Account">
	<div asp-validation-summary="ModelOnly" class="text-danger" data-valmsg-for="PasswordForm"></div>
	<dl class="row">
		<dt class="col-sm-2">
			<label asp-for="PasswordForm.Password" class="control-label"></label>
		</dt>
		<dd class="col-sm-4">
			<input id="password" readonly asp-for="PasswordForm.Password" class="form-control" placeholder="••••••••••" />
			<span asp-validation-for="PasswordForm.Password" class="text-danger"></span>
		</dd>
		<dd class="col-sm-6">
			<button id="password_edit" class="btn btn-link" type="button" onclick="togglePasswordEdit('password', 'password_edit', 'password_cancel', 'password_confirms')">Edit</button>
			<button hidden id="password_cancel" class="btn btn-link" type="button" onclick="togglePasswordCancel('password', 'password_edit', 'password_cancel', 'password_confirms')">Cancel</button>
		</dd>
	</dl>
	<dl class="row" hidden id="password_confirms">
		<dt class="col-sm-2">
			<label asp-for="PasswordForm.ConfirmPassword" class="control-label"></label>
		</dt>
		<dd class="col-sm-4">
			<input id="confirm_password" asp-for="PasswordForm.ConfirmPassword" class="form-control" />
			<span asp-validation-for="PasswordForm.ConfirmPassword" class="text-danger"></span>
		</dd>
		<dd class="col-sm-6">
		</dd>
		<dt class="col-sm-2">
			<label asp-for="PasswordForm.CurrentPassword" class="control-label"></label>
		</dt>
		<dd class="col-sm-4">
			<input id="old_password" asp-for="PasswordForm.CurrentPassword" class="form-control" />
			<span asp-validation-for="PasswordForm.CurrentPassword" class="text-danger"></span>
		</dd>
		<dd class="col-sm-6">
		</dd>
		</dl>
	<dl class="row">
		<dt class="col-sm-2">
		</dt>
		<dd class="col-sm-4">
			<input hidden id="button_password_submit" type="submit" value="Change" class="btn btn-primary" />
		</dd>
		<dd class="col-sm-6">
		</dd>
	</dl>
</form>

<form asp-action="DeleteAccount" asp-controller="Account" id="deleteForm">
	<div asp-validation-summary="ModelOnly" class="text-danger" data-valmsg-for="PasswordForm"></div>
	<dl class="row">
		<dt class="col-sm-2">
			<input type="submit" value="Delete Account" class="btn btn-danger" />
		</dt>
		<dd class="col-sm-4">
		</dd>
		<dd class="col-sm-6">
		</dd>
	</dl>
</form>

<script>

	var unchanged_firstname = '@Html.Raw(Model.UserForm.FirstName)';
	var unchanged_lastname = '@Html.Raw(Model.UserForm.LastName)';
	var unchanged_username = '@Html.Raw(Model.UserForm.Username)';
	var unchanged_email = '@Html.Raw(Model.UserForm.Email)';

	function toggleEdit(id, edit, cancel) {
		document.getElementById(id).readOnly = false;
		document.getElementById(edit).hidden = true;
		document.getElementById(cancel).hidden = false;

		toggleSubmit();
	}

	function toggleCancel(id, edit, cancel) {
		document.getElementById(id).readOnly = true;
		document.getElementById(edit).hidden = false;
		document.getElementById(cancel).hidden = true;
		document.getElementById(id).value = eval('unchanged_' + id);

		toggleSubmit();
	}

	function togglePasswordEdit(id, edit, cancel, confirms) {
		document.getElementById(id).readOnly = false;
		document.getElementById(edit).hidden = true;
		document.getElementById(cancel).hidden = false;
		document.getElementById(confirms).hidden = false;

		togglePasswordSubmit();
	}

	function togglePasswordCancel(id, edit, cancel, confirms) {
		document.getElementById(id).readOnly = true;
		document.getElementById(edit).hidden = false;
		document.getElementById(cancel).hidden = true;
		document.getElementById(confirms).hidden = true;

		document.getElementById('password').value = '';
		document.getElementById('confirm_password').value = '';
		document.getElementById('old_password').value = '';

		togglePasswordSubmit();
	}

	function toggleSubmit() {
		let inputs = document.querySelectorAll('.edit_field');

		let allReadOnly = true;
		inputs.forEach(function (input) {
			if (!input.readOnly) {
				allReadOnly = false;
			}
		});

		let submitButton = document.getElementById('button_submit');

		if (allReadOnly) {
			submitButton.hidden = true;
		} else {
			submitButton.hidden = false;
		}
	}

	function togglePasswordSubmit() {
		let input = document.getElementById('password');

		let submitButton = document.getElementById('button_password_submit');

		if (input.readOnly) {
			submitButton.hidden = true;
		} else {
			submitButton.hidden = false;
		}
	}

	document.getElementById("deleteForm").addEventListener("submit", function (event) {

		var confirmation = window.confirm("Are you sure you want to delete this account!?");

		if (!confirmation) {
			event.preventDefault();
		}
	});

</script>